<iframe width="100%" height="300px" frameborder="0" allowfullscreen src="//framacarte.org/fr/map/issue-1053_154734?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe><p><a href="//framacarte.org/fr/map/issue-1053_154734">Voir en plein écran</a></p>
